<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC

        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"

        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">



<hibernate-configuration>



	<session-factory>



		<!-- Configurações de Conexão com o Banco de Dados -->

		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>

		<property name="connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName= Drogaria</property>

		<property name="connection.username">sa</property>

		<property name="connection.password">santiago</property>



		<!-- Pool de Conexões -->

		<property name="connection.pool_size">1</property>



		<!-- SQL dialect -->

		<property name="dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
                                   

                                

		<!-- Gerenciamento do Contexto das Sessões -->

		<property name="current_session_context_class">thread</property>



		<!-- Cache de Segundo Nível -->

		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>



		<!-- Mostra as SQLs Geradas -->

		<property name="show_sql">true</property>



		<!-- Cria as tabelas do banco de dados pode ser colocado create,update 
			ou validate- compara aplicação com o que tem no banco-->

		<property name="hbm2ddl.auto">update</property>
		
		<!-- Mapeamento das entidade tabelas do banco -->
		<mapping class="br.com.projeto.drogaria.domain.Estado" />
		<mapping class="br.com.projeto.drogaria.domain.Fabricante" />
		
		<mapping class="br.com.projeto.drogaria.domain.Cidade" />
		<mapping class="br.com.projeto.drogaria.domain.Produto" />
		<mapping class="br.com.projeto.drogaria.domain.Pessoa" />
		<mapping class="br.com.projeto.drogaria.domain.Cliente" />
		<mapping class="br.com.projeto.drogaria.domain.Funcionario" />
		<mapping class="br.com.projeto.drogaria.domain.Venda" />
		<mapping class="br.com.projeto.drogaria.domain.ItemVenda" />
		<mapping class="br.com.projeto.drogaria.domain.Usuario" />
		<mapping class="br.com.projeto.drogaria.domain.Historico" />
		<mapping class="br.com.projeto.drogaria.domain.Caixa" />
		<mapping class="br.com.projeto.drogaria.domain.Movimentacao" />
		
	</session-factory>

</hibernate-configuration>