<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <!-- Nome da Aplicação -->
 <display-name>Drogaria</display-name>
 
<!--  Localização do Fces Config -->
 
 <context-param>
   <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml</param-value>
 </context-param>
 
 <!-- 	Estágio do projeto modo desenvolvimento -->
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <!--     Parâmetro de Temas do PrimeFaces -->
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>glass-x</param-value>
 </context-param>
 <!--     Parametro para definição do mecanismo de upload de imagens PrimeFaces -->
 <context-param>
  <param-name>primefaces.UPLOADER</param-name>
  <param-value>native</param-value>
 </context-param>
 <listener>
  <listener-class>br.com.projeto.drogaria.util.HibernateContexto</listener-class>
 </listener>
 <!--     configuração JSF -todas as requisições vão para o ServLet -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <!-- 	Definir a página principal -->
 <welcome-file-list>
  <welcome-file>pages/principal.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
